h1,
h2,
h3,
h4,
h5 {
  color: rgb(50, 50, 50);
}

#name-title h1,
h5 {
  text-align: center;
}

#name-title a {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

#name-title h1 {
  font-size: 72px;
  margin-top: 50px;
}

#name-title h5 {
  padding-left: 100px;
  margin-top: 10px;
}

#header img {
  border-radius: 50%;
  margin: 35px 0;
}
